pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

.repl
.nrepl-port
.lein-failures

/*.js
/*.js.map
/resources/public/tixi.js
/resources/public/out

/.bundle
/vendor/bundle
/dist
/s3_deployer_config.rb
/.ruby-version
