* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

.calculate-letter-size {
  font-family: monospace;
  height: auto;
  width: auto;
  top: -100px;
  left: -100px;
  visibility: hidden;
  position: fixed;
  overflow: visible;
  white-space: nowrap;
}

.project.is-hover,
.project.is-hover .canvas--content--layer {
  cursor: pointer;
}

.project.is-able-to-move,
.project.is-able-to-move .canvas--content--layer {
  cursor: move;
}

.project {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 5em;
  right: 0;
  bottom: 0;
}

body,
.canvas,
.selection,
.selection--dot {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.current-selection {
  position: absolute;
  pointer-events: none;
  border: 1px solid gray;
}

.canvas--content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas--content--layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}

.canvas--content--layer.is-hover {
  color: red;
}

.canvas--content--layer.is-selected {
  color: blue;
}

.selection {
  position: absolute;
  pointer-events: none;
  border: 1px solid gray;
}

.selection--dot {
  position: absolute;
  background: white;
  width: 5px;
  height: 5px;
  border: 1px solid gray;
  margin-left: -3px;
  margin-top: -3px;
  pointer-events: auto;
}

.selection--dot__nw,
.selection.is-flipped-x.is-flipped-y .selection--dot.selection--dot__se,
.selection.is-flipped-x .selection--dot__ne,
.selection.is-flipped-y .selection--dot__sw {
  top: 0;
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  cursor: nwse-resize;
}

.selection--dot__n,
.selection.is-flipped-y .selection--dot__s {
  top: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  cursor: ns-resize;
}

.selection--dot__ne,
.selection.is-flipped-x.is-flipped-y .selection--dot.selection--dot__sw,
.selection.is-flipped-x .selection--dot__nw,
.selection.is-flipped-y .selection--dot__se {
  top: 0;
  left: 100%;
  margin-top: -4px;
  cursor: nesw-resize;
}

.selection--dot__w,
.selection.is-flipped-x .selection--dot__e {
  top: 50%;
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  cursor: ew-resize;
}

.selection--dot__e,
.selection.is-flipped-x .selection--dot__w {
  top: 50%;
  left: 100%;
  cursor: ew-resize;
}

.selection--dot__sw,
.selection.is-flipped-x.is-flipped-y .selection--dot.selection--dot__ne,
.selection.is-flipped-x .selection--dot__se,
.selection.is-flipped-y .selection--dot__nw {
  top: 100%;
  left: 0;
  cursor: nesw-resize;
}

.selection--dot__s,
.selection.is-flipped-y .selection--dot__n {
  top: 100%;
  left: 50%;
  cursor: ns-resize;
}

.selection--dot__se,
.selection.is-flipped-x.is-flipped-y .selection--dot.selection--dot__nw,
.selection.is-flipped-x .selection--dot__sw,
.selection.is-flipped-y .selection--dot__ne {
  top: 100%;
  left: 100%;
  cursor: nwse-resize;
}

.selection__text .selection--dot {
  display: none;
}

.tool {
  position: fixed;
  right: 0;
  bottom: 0;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
}

.text--wrapper--content {
  background: white;
  word-wrap: break-word;
  display: inline-block;
  max-width: 100%;
}

.canvas-content--layer__text .text--wrapper {
  padding: 0 !important;
  width: auto;
  height: auto;
}

.canvas-content--layer__text .text--wrapper--content {
  word-wrap: initial;
  text-align: left;
  margin-top: 0 !important;
}

.canvas-content--layer__text .CodeMirror {
  text-align: left;
  padding-right: 1px;
}

.CodeMirror {
  height: auto;
  background: white;
  border: none;
  pointer-events: none;
  line-height: inherit;
  text-align: center;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  height: auto;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5em;
  background: #f8f8f8;
  border-right: gray;
}

.sidebar--logo {
  font-family: Arial, sans-serif;
  padding: 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

.sidebar--tools--button {
  display: block;
  background: #e6e6e6;
  width: 4em;
  height: 4em;
  margin: 0.5em auto;
  border: 1px solid gray;
  cursor: pointer;
  outline: none;
}

.sidebar--tools--button--icon {
  display: block;
  width: 100%;
  height: 100%;
  background-size: 70% 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.sidebar--tools--button:hover {
  background: silver;
}

.sidebar--tools--button:active,
.sidebar--tools--button.is-selected:hover,
.sidebar--tools--button.is-selected {
  background: silver;
  box-shadow: 0 0 1em gray;
}

.sidebar--tools--button__select .sidebar--tools--button--icon {
  background-image: url(/assets/images/select.png)
}

.sidebar--tools--button__line .sidebar--tools--button--icon {
  background-image: url(/assets/images/line.png)
}

.sidebar--tools--button__rect-line .sidebar--tools--button--icon {
  background-image: url(/assets/images/rect-line.png)
}

.sidebar--tools--button__rect .sidebar--tools--button--icon {
  background-image: url(/assets/images/rect.png)
}

.sidebar--tools--button__undo .sidebar--tools--button--icon {
  background-image: url(/assets/images/undo.png)
}

.sidebar--tools--button__redo .sidebar--tools--button--icon {
  background-image: url(/assets/images/redo.png)
}

.sidebar--tools--button__text .sidebar--tools--button--icon {
  background-image: url(/assets/images/text.png)
}

.sidebar--tools--button__result .sidebar--tools--button--icon {
  background-image: url(/assets/images/result.png)
}

.sidebar--tools--button__delete .sidebar--tools--button--icon {
  background-image: url(/assets/images/delete.png)
}

.result {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.result-enter {
  opacity: 0;
}

.result-enter-active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
}

.result-leave {
  opacity: 1;
}

.result-leave-active {
  transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  opacity: 0;
}

.result--overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1d2226;
  opacity: 0.9;
}

.result--popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #f5f5f5;
  border-radius: 3px;
}

.result--content {
  margin: 2.5em 1.5em 1em;
  background: white;
  border: #eee;
}

.result--content--pre {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  overflow: hidden;
}

.result--close-top {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
  height: 2em;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(/assets/images/close.png);
  border: none;
  cursor: pointer;
  outline: none;
}

.result--bottom {
  text-align: center;
  padding-bottom: 1em;
}

.result--bottom--hint {
  font-size: 0.8em;
  padding-bottom: 1em;

}

.result--bottom--close {
  background: #e6e6e6;
  padding: 0.5em 1em;
  border: 1px solid gray;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}
